.footer {
    background-color: #fff; 
    color: #333; 
    padding: 20px 0; 
    text-align: center; 
  }
 .footerContainer {
    display: flex;
    flex-direction: column;
 }
 .iconRow {
    display: flex;
    justify-content: center; 
    gap: 40px;
    font-size: 18px; 
 }
 .text-center {
    font-size: 16px;
    gap: 10px;
 }
  