.nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  transition: background-color 0.3s ease; 
}

.nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff; 
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 0; 
}

.nav-list-item {
  margin-right: auto;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #1f386e;
  text-decoration: none;
}

.nav-item {
  margin-right: 30px;
  scroll-behavior: smooth;
}

.nav-link {
  display: block;
  padding: 10px;
  color: rgba(109, 114, 139, 0.75);
  font-size: 17px;
  text-decoration: none;
}



  