.portfolio h2 {
    font-weight: 700;
    font-size: 32px;
    color: #1f386e;
    margin-right: auto;
    padding: 40px;
  }
  
  .row-album {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px;
  }
  
  .album {
    text-align: center;
    margin: 10px;
    cursor: pointer;
  }
  
  .album img {
    width: 100%; 
    height: 300px; 
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .album h3 {
    margin-top: 10px;
    font-size: 18px; 
    color: #1f386e;
    text-align: center;
  }
  
  
 
  